/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(74, 74, 74);
}

p {
  font-weight: lighter;
  font-family: 'Ubuntu', sans-serif;
  line-height: 2rem;

}

h1{
  font-size: 2.25rem;
  font-weight:bold;

}

h2{
  font-size:1.25rem;
  font-weight: bold;
}

/* Navigation bar */

nav{
  padding: 1rem 1.5rem;
  display:flex;
  align-items: center;
  color: darkgray;

}

nav ul li{
  display:inline;
  width:50rem;
  padding-left: 1rem;
}

nav ul li:hover{
  text-decoration: underline;
}

.name{
  padding-right: 40rem;
  height:2rem;
  position:relative;
  top:.5rem;
}

strong{
  font-weight: bold;
  color:black;
}

.mobile{
  display:none;
}

@media only screen and (max-width: 480px) {

  .mobile{
    overflow: hidden;
    height:4rem;
    display:inline-flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
  }

  .desktop{
    display: none;
  }
  .name{
    padding:0;
  }
}


/* Banner */
.banner{
  background-color: rgb(216, 216, 216);
  display:inline-flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 4rem;
}

.banner .image{
  width:60%;
}

#banner{
    width:100%;
    padding-right: 1.5rem;
}
.banner .text{
  width:40%;
  display:flex;
  justify-content:center;
  flex-direction: column;
}

.banner .text h1{
    padding-left:1.5rem;
  }

.banner .text h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left:1.5rem;
}


.start-button{
  text-align: center;
  background-color: rgb(74, 74, 74);
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: 1.5rem;
  color: white;
  width:75%;
}

.start-button:hover{
  background-color: white;
  color:rgb(74, 74, 74);
}

@media only screen and (max-width: 480px) {
  .banner{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    padding: 0;
  }
  .banner .text{
    width: 100%;
    height: auto;
  }
.banner .image{
  width: 100%;
  height: auto;
}
#banner{
  padding:0;
  width:100%;
  height:auto;
}

.banner .text h1{
    padding-top: 2rem;
    padding-left:1rem;
    font-size: 1.75rem;
  }
  .banner .text h2{
    padding-bottom: 1.5rem;
  }
  .start-button{
    padding-bottom: 2rem;
}
}

/* Information section */

.information{
  display:flex;
  justify-content: center;
  align-content: stretch;
  padding: 2rem 1.5rem;
}

#information-main{
  padding-bottom: :2rem;
  padding-right: 1.5rem;
  width:97%;
}

.container-left{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:stretch;
  width:60%;
  padding-right: 1.5rem;
}
.container-left h1{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container-left p{
  width:90%;
}

.container-right{
display:block;
  width:40%;
}

.orientation,
.campus,
.guest{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  border-left:1px solid lightgray;
  border-bottom:1px solid lightgray;
  padding:1rem;
}

.guest{
  background-color: rgb(216, 216, 216);
  background-repeat: repeat;
  background-size: cover;
}

.orientation .image,
.campus .image,
.guest .image{
  width: 35%
}

.link{
  color:rgb(110,180,255);
  padding-top: 1rem;
}

 .text{
  display:flex;
  flex-direction: column;
  width:65%;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 480px) {

  .information{
    padding:0;
  }
  .container-left{
    display:none;
  }
  .container-right{
    overflow:hidden;
    max-width: 100%;
  }
  .orientation,
  .campus,
  .guest{
    display:block;
    max-width: 100%;
    height:auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

}

/* Courses section */
.courses-container{
  background-color: rgb(216, 216, 216);
}

.section-title{
  text-align: center;
  padding-top: 2rem;
}
.courses{
  display:inline-flex;
  flex-wrap: wrap;
  margin: 1rem 4.5rem;
  }

  .software,
  .computer-art,
  .design,
  .data,
  .business,
  .marketing{
    padding:1rem;
  }

  .software img,
  .computer-art img,
  .design img,
  .data img,
  .business img,
  .marketing img{
  flex-shrink: 2;
  width:100%;
  }

  .software,
  .computer-art,
  .design,
  .data,
  .business,
  .marketing{
  width:30%;
  }

  .software p,
  .computer-art p,
  .design p,
  .data p,
  .business p,
  .marketing p{
    padding-top: 1rem;
  }


.software .text,
.computer-art .text,
.design .text,
.data .text,
.business .text,
.marketing .text{
  display:flex;
  flex-direction: column;
  background-color: white;
  padding-top:1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 6.5rem;
}

#wider{
  width:140%;
}

#longer{
  padding-bottom: 3.5rem;
}

@media only screen and (max-width: 480px) {
  .courses img{
    display:none;
  }
  .courses p{
    display:none;
  }
  .text h2{
    display:flex;
    flex-direction:column;
  flex-wrap:nowrap;
  }
}

/* Thesis secion */

.thesis-container{
  display:inline-flex;
  margin-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: solid 1px lightgray;
}
.container-video{
  display:flex;
  flex-direction: column;
  width:60%;
  padding: 1.5rem;
}
.container-video video{
  width:100%;
}

.container-video h2{
  padding-top: 1.5rem;
}
.container-small{
  width:40%;
  padding-top: 2.5rem;
  display:block;
}
.fisma,
.NY{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

.fisma{
  background-color: rgb(216, 216, 216);
  background-repeat: repeat;
  background-size: cover;
}

.fisma img,
.NY img{
  width: 35%
}

.thesis-text{
  display:flex;
  flex-direction: column;
  width:65%;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .container-small{
    display:none;
  }
  .container-video h2{
    display:none;
  }
  .container-video p{
    display:none;
  }
  .container-video{
    display:block;
    max-width: 100%;
    height: auto;
  }
}

/* Footer */

footer {
  padding: 1rem 1.5rem;
  display:inline-flex;
}

footer span{
  padding-right: 45rem;
}

footer ul li{
  display:inline;
  padding-left: .5rem;

}
@media only screen and (max-width: 480px) {
footer{
  padding-right: 0;
  padding-left:0;
  padding-top:1.5rem;
}
footer span{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
}
}
